.effizienz {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
}

.effizienzAni {
  transition: all 0.75s cubic-bezier(0.645, 0.045, 0.355, 1), transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.effizienzLeft {
  flex: 40%;
}

.effizienzRight {
  flex: 60%;
  margin-left: 30px;
}

.effizienzSubTitle {
  letter-spacing: 1.6px;
  color: #deb47d;
  text-transform: uppercase;
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
}

.effizienzTitle {
  letter-spacing: 0px;
  color: #0d0d0d;
  opacity: 1;
  font-size: 48px;
  font-weight: 600;
  max-width: 400px;
  line-height: 80px;
  margin-bottom: 20px;
}

.effizienzText {
  letter-spacing: 0px;
  color: #0d0d0d;
  opacity: 1;
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 620px;
}

.EffizienzSVG {
  margin-top: 50px;
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  .effizienz {
    flex-direction: column;
    width: 100%;
  }
  .effizienzLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .effizienzSubTitle {
    text-align: center;
  }
  .effizienzTitle {
    text-align: center;
    font-size: 48px;
  }
  .effizienzText {
    text-align: center;
  }
  .effizienzRight {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  .EffizienzSVG {
    width: 95%;
    height: auto;
  }
}

@media only screen and (max-width: 550px) {
  .effizienzTitle {
    font-size: 26px;
  }
  .effizienzText {
    font-size: 16px;
  }
}
