.dein {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.deinAni {
  transition: all 0.75s cubic-bezier(0.645, 0.045, 0.355, 1), transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.stepsLeftSVG {
  position: absolute;
  left: 2%;
  top: 30%;
  transform: translate(-50%);
}

.stepsRightSVG {
  position: absolute;
  left: 99%;
  top: 10%;
  transform: translate(-50%);
}

.deinTitle {
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.5;
  font-size: 18px;
  max-width: 550px;
  text-align: center;
  margin-top: 20px;
}

.deinContainer {
  max-width: 1250px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 80px;
  gap: 26px;
}

.deinItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.deinItemIcon {
  width: 45px;
  height: 45px;
  min-width: 45px;
  border-radius: 50%;
  background-color: #deb47d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deinItemText {
  margin-left: 20px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  font-size: 20px;
  text-align: left;
  max-width: 270px;
}

.deinFooter {
  position: relative;
  padding: 250px 0 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.deinFooterTitle {
  letter-spacing: 0px;
  opacity: 1;
  font-size: 48px;
  text-align: center;
  max-width: 1100px;
  color: #0d0d0d;
}

.deinFooterSpan {
  color: #deb47d;
}

.deinFooterButton {
  background-color: #deb47d;
  border-radius: 47px;
  padding: 18px 40px;
  margin-top: 35px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.deinFooterSVG {
  position: absolute;
  top: 0;
  right: 50px;
  z-index: -1;
  width: 100%;
  max-width: 450px;
}

@media only screen and (max-width: 1350px) {
  .stepsLeftSVG {
    top: 50%;
  }
}

@media only screen and (max-width: 1050px) {
  .deinContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .stepsLeftSVG {
    top: 55%;
  }
  .deinFooterTitle {
    font-size: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .deinContainer {
    grid-template-columns: 1fr;
  }
  .stepsLeftSVG {
    display: none;
  }
  .deinItemText {
    font-size: 18px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 550px) {
  .deinFooterTitle {
    font-size: 26px;
  }
  .deinFooterButton {
    width: auto;

    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  .stepsRightSVG {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  .deinFooterButton {
    font-size: 13px;
  }
}
